.snake-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gridItem {
  outline: 1px solid grey;
  width: 50px;
  height: 50px;
}

.is-food {
  background-color: red;
}

.is-head {
  background-color: black;
}
